<h1 id="tableLabel">Search Data</h1>

<div class="form-outline">
    <input type="text" class="form-control" placeholder="Please type search data and hit enter" (keyup)="searchData($event)" />
  </div>
  <p class="text-center my-3" *ngIf="isLoading">Loading Data</p>
  <ng-container *ngIf="searchData$ | async; let searchData">

<table class='table table-striped my-3' aria-labelledby="tableLabel">
  <thead *ngIf="searchData.length > 0">
    <tr>
      <th>Name</th>
      <th>Market</th>
      <th>State</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of searchData">
      <td>{{ data.name }}</td>
      <td>{{ data.market }}</td>
      <td>{{ data.state }}</td>
      <td>{{ data.type }}</td>
    </tr>
  </tbody>
</table>
<p class="text-center my-3" *ngIf="searchData.length === 0">Data Not found</p>
<nav aria-label="Page navigation example" *ngIf="searchData.length > 0">
    <ul class="pagination justify-content-end">
      <li class="page-item " [class.disabled]="!pagination.hasPreviousPage">
        <a (click)="prevPage()" class="page-link" tabindex="-1">Previous</a>
      </li>
      <li class="page-item" (click)="gotoPage(page)" [class.active]="page === pagination.pageNumber" *ngFor="let page of pages"><a class="page-link">{{page}}</a></li>
      <li class="page-item" [class.disabled]="!pagination.hasNextPage">
        <a class="page-link" (click)="nextPage()" >Next</a>
      </li>
    </ul>
  </nav>
</ng-container>
